<div class="form-field" [ngClass]="field.wrapperClass || ''">
  <label [ngClass]="field.labelClass || ''">
    {{ field.label || field.name }}
  </label>

  <!-- TEXT / NUMBER / DATE -->
  <input
    *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'date'"
    [type]="field.type"
    [name]="field.name"
    [(ngModel)]="model[field.name]"
    (ngModelChange)="onModelChange()"
    [required]="!!field.required"
    [disabled]="!!field.disabled"
    [placeholder]="field.placeholder || ''"
    class="input"
    [ngClass]="field.class || ''"
  />

  <!-- TEXTAREA -->
  <textarea
    *ngIf="field.type === 'textarea'"
    [name]="field.name"
    [(ngModel)]="model[field.name]"
    (ngModelChange)="onModelChange()"
    [required]="!!field.required"
    [disabled]="!!field.disabled"
    [placeholder]="field.placeholder || ''"
    class="textarea"
    [ngClass]="field.class || ''"
  ></textarea>

  <!-- SELECT / RELATION -->
  <select
    *ngIf="field.type === 'select' || field.type === 'relation'"
    [name]="field.name"
    [(ngModel)]="model[field.name]"
    (ngModelChange)="onModelChange()"
    [required]="!!field.required"
    [disabled]="!!field.disabled"
    class="input"
    [ngClass]="field.class || ''"
  >
    <option [ngValue]="undefined">-- Select --</option>
    <option *ngFor="let opt of field.options || []" [ngValue]="opt.value">
      {{ opt.label }}
    </option>
  </select>

  <!-- BOOLEAN -->
  <div class="checkbox-wrapper" *ngIf="field.type === 'boolean'">
    <input
      type="checkbox"
      [id]="field.name"
      [name]="field.name"
      [(ngModel)]="model[field.name]"
      (ngModelChange)="onModelChange()"
      [disabled]="!!field.disabled"
    />
    <label [for]="field.name" class="checkbox-label">Enabled</label>
  </div>
</div>

