<div class="dashboard-container">

  <!-- Sidebar -->
  <aside class="sidebar">
    <h3 class="logo">MyApp</h3>

    <ul class="menu">
      <li (click)="navigate('/dashboard')">Dashboard</li>
      <li (click)="navigate('/users')">Users</li>
      <li (click)="navigate('/reports')">Reports</li>
      <li (click)="navigate('/settings')">Settings</li>

      <li class="logout" (click)="logout()">Logout</li>
    </ul>


  </aside>

  <!-- Main Section -->
  <div class="main-content">

    <!-- Top Navbar -->
    <header class="topbar">
      <span class="welcome">Welcome 👋</span>
    </header>

    <!-- ROUTE CONTENT -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>

  </div>
</div>
